<% provide(:title, "Einen Tag erstellen") %>
<h1>
    Erstelle Tag
</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@tag, url: post_addtag_path) do |f| %>
            <%= render 'shared/error_messages_posts' %>

            <%= f.label :text %>
            <%= f.select(:tag_id, @tags.collect {|p| [p.name, p.id]
            })%>
        

            <%= f.submit "Posten", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>