<% provide(:title, 'Post editieren') %>
<h1>
    Den Post editieren
</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
    <%= form_for(@post, url: post_path(@post), method: "PATCH") do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>

        <%= f.label :text %>
        <%= f.text_area :text, class: 'form-control' %>
    

        <%= f.submit "Ändern", class: "btn btn-primary" %>
    <% end %>
</div>
</div>