<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "sample app", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li class="dropdown">
              <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                Posts <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Alle Posts", posts_path %></li>
                <li><%= link_to "Neuer Post", new_post_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                Tags <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Neuer Tag", new_tag_path %></li>
              </ul>
            </li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Log In", '#' %></li>
          </ul>
        </nav>
    </div>
</header>